## WEB
ENVIRONMENT=localhost
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID="GET_ID_FROM_WALLET_CONNET" # See https://cloud.walletconnect.com
NEXT_PUBLIC_RPC_URL="GET_FROM_COINBASE_CLOUD"
NEXT_PUBLIC_PAYMASTER_URL="GET_FROM_COINBASE_CLOUD"
NEXT_PUBLIC_PRIVY_ID="GET_FROM_PRIVY"

###  On Ramp
NEXT_PUBLIC_UNLIMIT_MERCHANTID=672b920b-c22a-41f0-9313-d7a65f0be2ee

###  Strava
NEXT_PUBLIC_STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=

### Zerodev
NEXT_PUBLIC_ZERODEV_API_KEY=

### Firebase
#### Public
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_APP_LOGO_URL=
#### Private
FIREBASE_ADMIN_CLIENT_EMAIL=

### Sentry

## API
FAUCET_PRIVATE_KEY=

### Subgraph
SUBGRAPH_URL=